{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "ignorePatterns": ["dist", "bin", "node_modules"],
  "rules": {
    "prefer-const": "warn",
    "eqeqeq": ["error", "always", { "null": "ignore" }],
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index",
          "object",
          "type"
        ],
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        },
        "newlines-between": "never"
      }
    ],
    "no-console": [
      "error",
      {
        "allow": [
          "warn",
          "error",
          "info",
          "debug",
          "group",
          "groupCollapsed",
          "groupEnd",
          "time",
          "timeEnd"
        ]
      }
    ],
    "prettier/prettier": "error",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "args": "all",
        "argsIgnorePattern": "^_",
        "caughtErrors": "all",
        "caughtErrorsIgnorePattern": "^_",
        "destructuredArrayIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "ignoreRestSiblings": true
      }
    ]
  },
  "overrides": [
    {
      "files": "*.js",
      "rules": {
        "@typescript-eslint/no-var-requires": "off"
      }
    },
    {
      "files": [
        "packages/cli/**/*.ts",
        "packages/helpers/sync-car-assets/**/*.ts",
        "packages/helpers/sync-track-assets/**/*.ts"
      ],
      "rules": {
        "no-console": "off"
      }
    }
  ]
}
