{"openapi":"3.1.1","info":{"title":"iRacing `/data` API","version":"0.0.1"},"servers":[{"url":"https://members-ng.iracing.com/"}],"security":[{"bearerAuth":[]}],"tags":[{"name":"doc","description":"A documentation endpoint."},{"name":"car","description":"Car service endpoint."},{"name":"carclass","description":"Car class service endpoint."},{"name":"constants","description":"Constants service endpoint."},{"name":"driver_stats","description":"Driver stats service endpoint."},{"name":"hosted","description":"Hosted service endpoint."},{"name":"league","description":"League service endpoint"},{"name":"lookup","description":"Lookup endpoints for static reference data (countries, licenses, drivers, etc.)"},{"name":"member","description":"Member profile and related endpoints (profile, awards, participation credits)."},{"name":"results","description":"Race and session result endpoints (lap data, event logs, season results)."},{"name":"season","description":"Season-related endpoints (season lists, race guides, schedules)."},{"name":"series","description":"Series endpoints (series metadata, seasons, assets)."},{"name":"stats","description":"Statistical endpoints and summaries for members and seasons."},{"name":"team","description":"Team endpoints (team details, membership)."},{"name":"time_attack","description":"Time attack specific endpoints and member season results."},{"name":"track","description":"Track metadata and asset endpoints."}],"paths":{"/data/doc":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/carclass":{"get":{"tags":["doc","carclass"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/carclass/get":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/car":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/car/assets":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/car/get":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/constants":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/constants/categories":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/constants/divisions":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/constants/event_types":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/driver_stats_by_category":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/driver_stats_by_category/oval":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/driver_stats_by_category/sports_car":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/driver_stats_by_category/formula_car":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/driver_stats_by_category/road":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/driver_stats_by_category/dirt_oval":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/driver_stats_by_category/dirt_road":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/hosted":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/hosted/combined_sessions":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/hosted/sessions":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/league":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/league/cust_league_sessions":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/league/directory":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/league/get":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/league/get_points_systems":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/league/membership":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/league/roster":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/league/seasons":{"get":{"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/league/season_standings":{"get":{"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/league/season_sessions":{"get":{"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/lookup":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/lookup/countries":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/lookup/drivers":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/lookup/flairs":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/lookup/get":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/lookup/licenses":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/member":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/member/awards":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/member/award_instances":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/member/chart_data":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/member/get":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/member/info":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/member/participation_credits":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/member/profile":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/results":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/results/get":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/results/event_log":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/results/lap_chart_data":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/results/lap_data":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/results/search_hosted":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/results/search_series":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/results/season_results":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/season":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/season/list":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/season/race_guide":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/season/spectator_subsessionids":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/season/spectator_subsessionids_detail":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/series":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/series/assets":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/series/get":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/series/past_seasons":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/series/seasons":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/series/season_list":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/series/season_schedule":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/series/stats_series":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/stats":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/stats/member_bests":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/stats/member_career":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/stats/member_division":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/stats/member_recap":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/stats/member_recent_races":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/stats/member_summary":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/stats/member_yearly":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/stats/season_driver_standings":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/stats/season_supersession_standings":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/stats/season_team_standings":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/stats/season_tt_standings":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/stats/season_tt_results":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/stats/season_qualify_results":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/stats/world_records":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/team":{"get":{"tags":["doc"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/team/get":{"get":{"tags":["doc","team"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/team/membership":{"get":{"tags":["doc","team"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/time_attack":{"get":{"tags":["doc","time_attack"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/time_attack/member_season_results":{"get":{"tags":["doc","time_attack"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/track":{"get":{"tags":["doc","track"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/track/assets":{"get":{"tags":["doc","track"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/doc/track/get":{"get":{"tags":["doc","track"],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/data/carclass/get":{"get":{"operationId":"getCarClass","summary":"Gets car classes.","tags":["carclass"],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/car/assets":{"get":{"description":"image paths are relative to https://images-static.iracing.com/","tags":["car"],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/car/get":{"get":{"tags":["car"],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/constants/categories":{"get":{"description":"Constant; returned directly as an array of objects","tags":["constants"],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/constants/divisions":{"get":{"description":"Constant; returned directly as an array of objects","tags":["constants"],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/constants/event_types":{"get":{"description":"Constant; returned directly as an array of objects","tags":["constants"],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/driver_stats_by_category/{category}":{"get":{"tags":["driver_stats"],"parameters":[{"in":"path","name":"category","schema":{"$ref":"#/components/schemas/iracingCategory"},"required":true,"description":"Racing category."}],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/hosted/combined_sessions":{"get":{"description":"Sessions that can be joined as a driver or spectator, and also includes non-league pending sessions for the user.","tags":["hosted"],"parameters":[{"in":"query","name":"package_id","schema":{"description":"If set, return only sessions using this car or track package ID.","type":"number"},"description":"If set, return only sessions using this car or track package ID."}],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/hosted/sessions":{"get":{"description":"Sessions that can be joined as a driver. Without spectator and non-league pending sessions for the user.","tags":["hosted"],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/league/cust_league_sessions":{"get":{"tags":["league"],"parameters":[{"in":"query","name":"mine","schema":{"description":"If true, return only sessions created by this user.","type":"boolean"},"description":"If true, return only sessions created by this user."},{"in":"query","name":"package_id","schema":{"description":"If set, return only sessions using this car or track package ID.","type":"number"},"description":"If set, return only sessions using this car or track package ID."}],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/league/directory":{"get":{"tags":["league"],"parameters":[{"in":"query","name":"search","schema":{"description":"Will search against league name, description, owner, and league ID.","type":"string"},"description":"Will search against league name, description, owner, and league ID."},{"in":"query","name":"tag","schema":{"description":"One or more tags, comma-separated.","type":"string"},"description":"One or more tags, comma-separated."},{"in":"query","name":"restrict_to_member","schema":{"description":"If true include only leagues for which customer is a member.","type":"boolean"},"description":"If true include only leagues for which customer is a member."},{"in":"query","name":"restrict_to_recruiting","schema":{"description":"If true include only leagues which are recruiting.","type":"boolean"},"description":"If true include only leagues which are recruiting."},{"in":"query","name":"restrict_to_friends","schema":{"description":"If true include only leagues owned by a friend.","type":"boolean"},"description":"If true include only leagues owned by a friend."},{"in":"query","name":"restrict_to_watched","schema":{"description":"If true include only leagues owned by a watched member.","type":"boolean"},"description":"If true include only leagues owned by a watched member."},{"in":"query","name":"minimum_roster_count","schema":{"description":"If set include leagues with at least this number of members.","type":"number"},"description":"If set include leagues with at least this number of members."},{"in":"query","name":"maximum_roster_count","schema":{"description":"If set include leagues with no more than this number of members.","type":"number"},"description":"If set include leagues with no more than this number of members."},{"in":"query","name":"lowerbound","schema":{"description":"First row of results to return.  Defaults to 1.","type":"number"},"description":"First row of results to return.  Defaults to 1."},{"in":"query","name":"upperbound","schema":{"description":"Last row of results to return. Defaults to lowerbound + 39.","type":"number"},"description":"Last row of results to return. Defaults to lowerbound + 39."},{"in":"query","name":"sort","schema":{"description":"One of relevance, leaguename, displayname, rostercount. displayname is owners's name. Defaults to relevance.","type":"string"},"description":"One of relevance, leaguename, displayname, rostercount. displayname is owners's name. Defaults to relevance."},{"in":"query","name":"order","schema":{"description":"One of asc or desc.  Defaults to asc.","type":"string"},"description":"One of asc or desc.  Defaults to asc."}],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/league/get":{"get":{"tags":["league"],"parameters":[{"in":"query","name":"league_id","schema":{"type":"number"},"required":true},{"in":"query","name":"include_licenses","schema":{"description":"For faster responses, only request when necessary.","type":"boolean"},"description":"For faster responses, only request when necessary."}],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/league/get_points_systems":{"get":{"tags":["league"],"parameters":[{"in":"query","name":"league_id","schema":{"type":"number"},"required":true},{"in":"query","name":"season_id","schema":{"description":"If included and the season is using custom points (points_system_id:2) then the custom points option is included in the returned list. Otherwise the custom points option is not returned.","type":"number"},"description":"If included and the season is using custom points (points_system_id:2) then the custom points option is included in the returned list. Otherwise the custom points option is not returned."}],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/league/membership":{"get":{"tags":["league"],"parameters":[{"in":"query","name":"cust_id","schema":{"description":"If different from the authenticated member, the following restrictions apply: - Caller cannot be on requested customer's block list or an empty list will result; - Requested customer cannot have their online activity preference set to hidden or an empty list will result; - Only leagues for which the requested customer is an admin and the league roster is not private are returned.","$ref":"#/components/schemas/customerId"},"description":"If different from the authenticated member, the following restrictions apply: - Caller cannot be on requested customer's block list or an empty list will result; - Requested customer cannot have their online activity preference set to hidden or an empty list will result; - Only leagues for which the requested customer is an admin and the league roster is not private are returned."},{"in":"query","name":"include_league","schema":{"type":"boolean"}}],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/league/roster":{"get":{"tags":["league"],"parameters":[{"in":"query","name":"league_id","schema":{"type":"number"},"required":true},{"in":"query","name":"include_licenses","schema":{"description":"For faster responses, only request when necessary.","type":"boolean"},"description":"For faster responses, only request when necessary."}],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/league/seasons":{"get":{"tags":["league"],"parameters":[{"in":"query","name":"league_id","schema":{"type":"number"},"required":true},{"in":"query","name":"retired","schema":{"description":"If true include seasons which are no longer active.","type":"boolean"},"description":"If true include seasons which are no longer active."}],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/league/season_standings":{"get":{"tags":["league"],"parameters":[{"in":"query","name":"league_id","schema":{"type":"number"},"required":true},{"in":"query","name":"season_id","schema":{"type":"number"},"required":true},{"in":"query","name":"car_class_id","schema":{"type":"number"}},{"in":"query","name":"car_id","schema":{"description":"If car_class_id is included then the standings are for the car in that car class, otherwise they are for the car across car classes.","type":"number"},"description":"If car_class_id is included then the standings are for the car in that car class, otherwise they are for the car across car classes."}],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/league/season_sessions":{"get":{"tags":["league"],"parameters":[{"in":"query","name":"league_id","schema":{"type":"number"},"required":true},{"in":"query","name":"season_id","schema":{"type":"number"},"required":true},{"in":"query","name":"results_only","schema":{"description":"If true include only sessions for which results are available.","type":"boolean"},"description":"If true include only sessions for which results are available."}],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/lookup/countries":{"get":{"tags":["lookup"],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/lookup/flairs":{"get":{"tags":["lookup"],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/lookup/licenses":{"get":{"tags":["lookup"],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/lookup/drivers":{"get":{"tags":["lookup"],"parameters":[{"in":"query","name":"search_term","schema":{"description":"A cust_id or partial name for which to search.","type":"string"},"required":true,"description":"A cust_id or partial name for which to search."},{"in":"query","name":"league_id","schema":{"description":"Narrow the search to the roster of the given league.","type":"number"},"description":"Narrow the search to the roster of the given league."}],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/lookup/get":{"get":{"tags":["lookup"],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/member/awards":{"get":{"tags":["member"],"parameters":[{"in":"query","name":"cust_id","schema":{"description":"Defaults to the authenticated member.","$ref":"#/components/schemas/customerId"},"description":"Defaults to the authenticated member."}],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/member/award_instances":{"get":{"tags":["member"],"parameters":[{"in":"query","name":"cust_id","schema":{"description":"Defaults to the authenticated member.","$ref":"#/components/schemas/customerId"},"description":"Defaults to the authenticated member."},{"in":"query","name":"award_id","schema":{"type":"number"},"required":true}],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/member/chart_data":{"get":{"tags":["member"],"parameters":[{"in":"query","name":"cust_id","schema":{"description":"Defaults to the authenticated member.","$ref":"#/components/schemas/customerId"},"description":"Defaults to the authenticated member."},{"in":"query","name":"category_id","schema":{"description":"1 - Oval; 2 - Road; 3 - Dirt oval; 4 - Dirt road","type":"number"},"required":true,"description":"1 - Oval; 2 - Road; 3 - Dirt oval; 4 - Dirt road"},{"in":"query","name":"chart_type","schema":{"description":"1 - iRating; 2 - TT Rating; 3 - License/SR","$ref":"#/components/schemas/iracingChartType"},"required":true,"description":"1 - iRating; 2 - TT Rating; 3 - License/SR"}],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/member/get":{"get":{"tags":["member"],"parameters":[{"in":"query","name":"cust_ids","schema":{"description":"?cust_ids=2,3,4","type":"array","items":{"type":"number"}},"required":true,"description":"?cust_ids=2,3,4"},{"in":"query","name":"include_licenses","schema":{"type":"boolean"}}],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/member/info":{"get":{"tags":["member"],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/member/participation_credits":{"get":{"tags":["member"],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/member/profile":{"get":{"operationId":"getProfile","summary":"Gets a requested user's profile.","tags":["member"],"parameters":[{"in":"query","name":"cust_id","schema":{"description":"Defaults to the authenticated member.","$ref":"#/components/schemas/customerId"},"description":"Defaults to the authenticated member."}],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/results/get":{"get":{"tags":["results"],"parameters":[{"in":"query","name":"subsession_id","schema":{"type":"number"},"required":true},{"in":"query","name":"include_licenses","schema":{"type":"boolean"}}],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/results/event_log":{"get":{"tags":["results"],"parameters":[{"in":"query","name":"subsession_id","schema":{"type":"number"},"required":true},{"in":"query","name":"simsession_number","schema":{"description":"The main event is 0; the preceding event is -1, and so on.","type":"number"},"required":true,"description":"The main event is 0; the preceding event is -1, and so on."}],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/results/lap_chart_data":{"get":{"tags":["results"],"parameters":[{"in":"query","name":"subsession_id","schema":{"type":"number"},"required":true},{"in":"query","name":"simsession_number","schema":{"description":"The main event is 0; the preceding event is -1, and so on.","type":"number"},"required":true,"description":"The main event is 0; the preceding event is -1, and so on."}],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/results/lap_data":{"get":{"tags":["results"],"parameters":[{"in":"query","name":"subsession_id","schema":{"type":"number"},"required":true},{"in":"query","name":"simsession_number","schema":{"description":"The main event is 0; the preceding event is -1, and so on.","type":"number"},"required":true,"description":"The main event is 0; the preceding event is -1, and so on."},{"in":"query","name":"cust_id","schema":{"description":"Required if the subsession was a single-driver event. Optional for team events. If omitted for a team event then the laps driven by all the team's drivers will be included.","$ref":"#/components/schemas/customerId"},"description":"Required if the subsession was a single-driver event. Optional for team events. If omitted for a team event then the laps driven by all the team's drivers will be included."},{"in":"query","name":"team_id","schema":{"description":"Required if the subsession was a team event.","type":"number"},"description":"Required if the subsession was a team event."}],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/results/search_hosted":{"get":{"tags":["results"],"parameters":[{"in":"query","name":"start_range_begin","schema":{"description":"Session start times. ISO-8601 UTC time zero offset: \"2022-04-01T15:45Z\".","type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"},"description":"Session start times. ISO-8601 UTC time zero offset: \"2022-04-01T15:45Z\"."},{"in":"query","name":"start_range_end","schema":{"description":"ISO-8601 UTC time zero offset: \"2022-04-01T15:45Z\". Exclusive. May be omitted if start_range_begin is less than 90 days in the past.","type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"},"description":"ISO-8601 UTC time zero offset: \"2022-04-01T15:45Z\". Exclusive. May be omitted if start_range_begin is less than 90 days in the past."},{"in":"query","name":"finish_range_begin","schema":{"description":"Session finish times. ISO-8601 UTC time zero offset: \"2022-04-01T15:45Z\".","type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"},"description":"Session finish times. ISO-8601 UTC time zero offset: \"2022-04-01T15:45Z\"."},{"in":"query","name":"finish_range_end","schema":{"description":"ISO-8601 UTC time zero offset: \"2022-04-01T15:45Z\". Exclusive. May be omitted if finish_range_begin is less than 90 days in the past.","type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"},"description":"ISO-8601 UTC time zero offset: \"2022-04-01T15:45Z\". Exclusive. May be omitted if finish_range_begin is less than 90 days in the past."},{"in":"query","name":"cust_id","schema":{"description":"The participant's customer ID. Ignored if team_id is supplied.","$ref":"#/components/schemas/customerId"},"description":"The participant's customer ID. Ignored if team_id is supplied."},{"in":"query","name":"team_id","schema":{"description":"The team ID to search for. Takes priority over cust_id if both are supplied.","type":"number"},"description":"The team ID to search for. Takes priority over cust_id if both are supplied."},{"in":"query","name":"host_cust_id","schema":{"description":"The host's customer ID.","$ref":"#/components/schemas/customerId"},"description":"The host's customer ID."},{"in":"query","name":"session_name","schema":{"description":"Part or all of the session's name.","type":"string"},"description":"Part or all of the session's name."},{"in":"query","name":"league_id","schema":{"description":"Include only results for the league with this ID.","type":"number"},"description":"Include only results for the league with this ID."},{"in":"query","name":"league_season_id","schema":{"description":"Include only results for the league season with this ID.","type":"number"},"description":"Include only results for the league season with this ID."},{"in":"query","name":"car_id","schema":{"description":"One of the cars used by the session.","type":"number"},"description":"One of the cars used by the session."},{"in":"query","name":"track_id","schema":{"description":"The ID of the track used by the session.","type":"number"},"description":"The ID of the track used by the session."},{"in":"query","name":"category_ids","schema":{"description":"Track categories to include in the search.  Defaults to all. ?category_ids=1,2,3,4","type":"array","items":{"type":"number"}},"description":"Track categories to include in the search.  Defaults to all. ?category_ids=1,2,3,4"}],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/results/search_series":{"get":{"tags":["results"],"parameters":[{"in":"query","name":"season_year","schema":{"description":"Required when using season_quarter.","type":"number"},"description":"Required when using season_quarter."},{"in":"query","name":"season_quarter","schema":{"description":"Required when using season_year.","type":"number"},"description":"Required when using season_year."},{"in":"query","name":"start_range_begin","schema":{"description":"Session start times. ISO-8601 UTC time zero offset: \"2022-04-01T15:45Z\".","type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"},"description":"Session start times. ISO-8601 UTC time zero offset: \"2022-04-01T15:45Z\"."},{"in":"query","name":"start_range_end","schema":{"description":"ISO-8601 UTC time zero offset: \"2022-04-01T15:45Z\". Exclusive. May be omitted if start_range_begin is less than 90 days in the past.","type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"},"description":"ISO-8601 UTC time zero offset: \"2022-04-01T15:45Z\". Exclusive. May be omitted if start_range_begin is less than 90 days in the past."},{"in":"query","name":"finish_range_begin","schema":{"description":"Session finish times. ISO-8601 UTC time zero offset: \"2022-04-01T15:45Z\".","type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"},"description":"Session finish times. ISO-8601 UTC time zero offset: \"2022-04-01T15:45Z\"."},{"in":"query","name":"finish_range_end","schema":{"description":"ISO-8601 UTC time zero offset: \"2022-04-01T15:45Z\". Exclusive. May be omitted if finish_range_begin is less than 90 days in the past.","type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"},"description":"ISO-8601 UTC time zero offset: \"2022-04-01T15:45Z\". Exclusive. May be omitted if finish_range_begin is less than 90 days in the past."},{"in":"query","name":"cust_id","schema":{"description":"Include only sessions in which this customer participated. Ignored if team_id is supplied.","$ref":"#/components/schemas/customerId"},"description":"Include only sessions in which this customer participated. Ignored if team_id is supplied."},{"in":"query","name":"team_id","schema":{"description":"Include only sessions in which this team participated. Takes priority over cust_id if both are supplied.","type":"number"},"description":"Include only sessions in which this team participated. Takes priority over cust_id if both are supplied."},{"in":"query","name":"series_id","schema":{"description":"Include only sessions for series with this ID.","type":"number"},"description":"Include only sessions for series with this ID."},{"in":"query","name":"race_week_num","schema":{"description":"Include only sessions with this race week number.","type":"number"},"description":"Include only sessions with this race week number."},{"in":"query","name":"official_only","schema":{"description":"If true, include only sessions earning championship points. Defaults to all.","type":"boolean"},"description":"If true, include only sessions earning championship points. Defaults to all."},{"in":"query","name":"event_types","schema":{"description":"Types of events to include in the search. Defaults to all. ?event_types=2,3,4,5","type":"array","items":{"type":"number"}},"description":"Types of events to include in the search. Defaults to all. ?event_types=2,3,4,5"},{"in":"query","name":"category_ids","schema":{"description":"License categories to include in the search.  Defaults to all. ?category_ids=1,2,3,4","type":"array","items":{"type":"number"}},"description":"License categories to include in the search.  Defaults to all. ?category_ids=1,2,3,4"}],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/results/season_results":{"get":{"tags":["results"],"parameters":[{"in":"query","name":"season_id","schema":{"type":"number"},"required":true},{"in":"query","name":"event_type","schema":{"description":"Retrict to one event type: 2 - Practice; 3 - Qualify; 4 - Time Trial; 5 - Race","$ref":"#/components/schemas/iracingEventType"},"description":"Retrict to one event type: 2 - Practice; 3 - Qualify; 4 - Time Trial; 5 - Race"},{"in":"query","name":"race_week_num","schema":{"description":"The first race week of a season is 0.","type":"number"},"description":"The first race week of a season is 0."}],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/season/list":{"get":{"tags":["season"],"parameters":[{"in":"query","name":"season_year","schema":{"type":"number"},"required":true},{"in":"query","name":"season_quarter","schema":{"type":"number"},"required":true}],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/season/race_guide":{"get":{"tags":["season"],"parameters":[{"in":"query","name":"from","schema":{"description":"ISO-8601 offset format. Defaults to the current time. Include sessions with start times up to 3 hours after this time. Times in the past will be rewritten to the current time.","type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"},"description":"ISO-8601 offset format. Defaults to the current time. Include sessions with start times up to 3 hours after this time. Times in the past will be rewritten to the current time."},{"in":"query","name":"include_end_after_from","schema":{"description":"Include sessions which start before 'from' but end after.","type":"boolean"},"description":"Include sessions which start before 'from' but end after."}],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/series/assets":{"get":{"tags":["series"],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/series/get":{"get":{"tags":["series"],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/series/past_seasons":{"get":{"tags":["series"],"parameters":[{"in":"query","name":"series_id","schema":{"type":"number"},"required":true}],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/series/seasons":{"get":{"tags":["series"],"parameters":[{"in":"query","name":"include_series","schema":{"type":"boolean"}},{"in":"query","name":"season_year","schema":{"description":"To look up past seasons use both a season_year and season_quarter.  Without both, the active seasons are returned.","type":"number"},"description":"To look up past seasons use both a season_year and season_quarter.  Without both, the active seasons are returned."},{"in":"query","name":"season_quarter","schema":{"description":"To look up past seasons use both a season_year and season_quarter.  Without both, the active seasons are returned.","type":"number"},"description":"To look up past seasons use both a season_year and season_quarter.  Without both, the active seasons are returned."}],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/series/season_list":{"get":{"tags":["series"],"parameters":[{"in":"query","name":"include_series","schema":{"type":"boolean"}},{"in":"query","name":"season_year","schema":{"type":"number"}},{"in":"query","name":"season_quarter","schema":{"type":"number"}}],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/series/season_schedule":{"get":{"tags":["series"],"parameters":[{"in":"query","name":"season_id","schema":{"type":"number"},"required":true}],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/series/stats_series":{"get":{"tags":["series"],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/stats/member_bests":{"get":{"tags":["stats"],"parameters":[{"in":"query","name":"cust_id","schema":{"description":"Defaults to the authenticated member.","$ref":"#/components/schemas/customerId"},"description":"Defaults to the authenticated member."},{"in":"query","name":"car_id","schema":{"description":"First call should exclude car_id; use cars_driven list in return for subsequent calls.","type":"number"},"description":"First call should exclude car_id; use cars_driven list in return for subsequent calls."}],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/stats/member_career":{"get":{"tags":["stats"],"parameters":[{"in":"query","name":"cust_id","schema":{"description":"Defaults to the authenticated member.","$ref":"#/components/schemas/customerId"},"description":"Defaults to the authenticated member."}],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/stats/member_division":{"get":{"tags":["stats"],"parameters":[{"in":"query","name":"season_id","schema":{"type":"number"},"required":true},{"in":"query","name":"event_type","schema":{"description":"The event type code for the division type: 4 - Time Trial; 5 - Race","anyOf":[{"description":"Time trial","type":"number","const":4},{"description":"Race","type":"number","const":5}]},"required":true,"description":"The event type code for the division type: 4 - Time Trial; 5 - Race"}],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/stats/member_recap":{"get":{"tags":["stats"],"parameters":[{"in":"query","name":"cust_id","schema":{"description":"Defaults to the authenticated member.","$ref":"#/components/schemas/customerId"},"description":"Defaults to the authenticated member."},{"in":"query","name":"year","schema":{"description":"Season year; if not supplied the current calendar year (UTC) is used.","anyOf":[{"type":"number","const":1},{"type":"number","const":2},{"type":"number","const":3},{"type":"number","const":4}]},"description":"Season year; if not supplied the current calendar year (UTC) is used."},{"in":"query","name":"season","schema":{"description":"Season (quarter) within the year; if not supplied the recap will be for the entire year.","type":"number"},"description":"Season (quarter) within the year; if not supplied the recap will be for the entire year."}],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/stats/member_recent_races":{"get":{"tags":["stats"],"parameters":[{"in":"query","name":"cust_id","schema":{"description":"Defaults to the authenticated member.","$ref":"#/components/schemas/customerId"},"description":"Defaults to the authenticated member."}],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/stats/member_summary":{"get":{"tags":["stats"],"parameters":[{"in":"query","name":"cust_id","schema":{"description":"Defaults to the authenticated member.","$ref":"#/components/schemas/customerId"},"description":"Defaults to the authenticated member."}],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/stats/member_yearly":{"get":{"tags":["stats"],"parameters":[{"in":"query","name":"cust_id","schema":{"description":"Defaults to the authenticated member.","$ref":"#/components/schemas/customerId"},"description":"Defaults to the authenticated member."}],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/stats/season_driver_standings":{"get":{"tags":["stats"],"parameters":[{"in":"query","name":"season_id","schema":{"type":"number"},"required":true},{"in":"query","name":"car_class_id","schema":{"type":"number"},"required":true},{"in":"query","name":"division","schema":{"$ref":"#/components/schemas/iracingDivision"}},{"in":"query","name":"race_week_num","schema":{"description":"The first race week of a season is 0.","type":"number"},"description":"The first race week of a season is 0."}],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/stats/season_supersession_standings":{"get":{"tags":["stats"],"parameters":[{"in":"query","name":"season_id","schema":{"type":"number"},"required":true},{"in":"query","name":"car_class_id","schema":{"type":"number"},"required":true},{"in":"query","name":"division","schema":{"$ref":"#/components/schemas/iracingDivision"}},{"in":"query","name":"race_week_num","schema":{"description":"The first race week of a season is 0.","type":"number"},"description":"The first race week of a season is 0."}],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/stats/season_team_standings":{"get":{"tags":["stats"],"parameters":[{"in":"query","name":"season_id","schema":{"type":"number"},"required":true},{"in":"query","name":"car_class_id","schema":{"type":"number"},"required":true},{"in":"query","name":"race_week_num","schema":{"description":"The first race week of a season is 0.","type":"number"},"description":"The first race week of a season is 0."}],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/stats/season_time_trial_standings":{"get":{"tags":["stats"],"parameters":[{"in":"query","name":"season_id","schema":{"type":"number"},"required":true},{"in":"query","name":"car_class_id","schema":{"type":"number"},"required":true},{"in":"query","name":"division","schema":{"$ref":"#/components/schemas/iracingDivision"}},{"in":"query","name":"race_week_num","schema":{"description":"The first race week of a season is 0.","type":"number"},"description":"The first race week of a season is 0."}],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/stats/season_time_trial_results":{"get":{"tags":["stats"],"parameters":[{"in":"query","name":"season_id","schema":{"type":"number"},"required":true},{"in":"query","name":"car_class_id","schema":{"type":"number"},"required":true},{"in":"query","name":"race_week_num","schema":{"description":"The first race week of a season is 0.","type":"number"},"required":true,"description":"The first race week of a season is 0."},{"in":"query","name":"division","schema":{"$ref":"#/components/schemas/iracingDivision"}}],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/stats/season_qualify_results":{"get":{"tags":["stats"],"parameters":[{"in":"query","name":"season_id","schema":{"type":"number"},"required":true},{"in":"query","name":"car_class_id","schema":{"type":"number"},"required":true},{"in":"query","name":"race_week_num","schema":{"description":"The first race week of a season is 0.","type":"number"},"required":true,"description":"The first race week of a season is 0."},{"in":"query","name":"division","schema":{"$ref":"#/components/schemas/iracingDivision"}}],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/stats/world_records":{"get":{"tags":["stats"],"parameters":[{"in":"query","name":"car_id","schema":{"type":"number"},"required":true},{"in":"query","name":"track_id","schema":{"type":"number"},"required":true},{"in":"query","name":"season_year","schema":{"description":"Limit best times to a given year.","type":"number"},"description":"Limit best times to a given year."},{"in":"query","name":"season_quarter","schema":{"description":"Limit best times to a given quarter; only applicable when year is used.","type":"number"},"description":"Limit best times to a given quarter; only applicable when year is used."}],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/team/get":{"get":{"tags":["team"],"parameters":[{"in":"query","name":"team_id","schema":{"type":"number"},"required":true},{"in":"query","name":"include_licenses","schema":{"description":"For faster responses, only request when necessary.","type":"boolean"},"description":"For faster responses, only request when necessary."}],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/team/membership":{"get":{"tags":["team"],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/time_attack/member_season_results":{"get":{"tags":["time_attack"],"parameters":[{"in":"query","name":"ta_comp_season_id","schema":{"type":"number"},"required":true}],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/track/assets":{"get":{"tags":["track"],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}},"/data/track/get":{"get":{"tags":["track"],"responses":{"200":{"$ref":"#/components/responses/Success"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Maintenance"}}}}},"components":{"schemas":{"iracingCategory":{"description":"Racing category.","anyOf":[{"description":"Oval discipline","type":"string","const":"oval"},{"description":"Road discipline. Legacy, use `sports_car` or `formula_car` instead.","type":"string","const":"road"},{"description":"Dirt road discipline.","type":"string","const":"dirt_road"},{"description":"Dirt oval discipline.","type":"string","const":"dirt_oval"},{"description":"Sports car discipline.","type":"string","const":"sports_car"},{"description":"Formula car discipline.","type":"string","const":"formula_car"}]},"customerId":{"description":"Numeric ID of a customer on iRacing.","type":"number"},"iracingChartType":{"description":"iRacing Chart Type","anyOf":[{"description":"iRating","type":"number","const":1},{"description":"Time trial rating","type":"number","const":2},{"description":"License rating","type":"number","const":3}]},"iracingEventType":{"description":"iRacing Event Type","anyOf":[{"description":"Practice","type":"number","const":2},{"description":"Qualifying","type":"number","const":3},{"description":"Time trial","type":"number","const":4},{"description":"Race","type":"number","const":5}]},"iracingDivision":{"description":"iRacing Divisions. Divisions are 0-based: 0 is Division 1, 10 is Rookie. See /data/constants/divisons for more information.","anyOf":[{"description":"Division 1","type":"number","const":0},{"description":"Division 2","type":"number","const":1},{"description":"Division 3","type":"number","const":2},{"description":"Division 4","type":"number","const":3},{"description":"Division 5","type":"number","const":4},{"description":"Division 6","type":"number","const":5},{"description":"Division 7","type":"number","const":6},{"description":"Division 8","type":"number","const":7},{"description":"Division 9","type":"number","const":8},{"description":"Division 10","type":"number","const":9},{"description":"Rookie","type":"number","const":10}]},"iracingAPIResponse":{"description":"Response from iRacing `/data` API.","type":"object","properties":{"link":{"description":"A link to the cached data","type":"string","format":"uri"},"expires":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"}},"required":["link","expires"],"additionalProperties":false}},"headers":{"x-ratelimit-limit":{"required":true,"description":"The current total rate limit.","schema":{"title":"Rate limit limit","description":"The current total rate limit.","type":"number"}},"x-ratelimit-remaining":{"required":true,"description":"How much of the rate limit you have remaining.","schema":{"title":"Rate limit remaining","description":"How much of the rate limit you have remaining.","type":"number"}},"x-ratelimit-reset":{"required":true,"description":"When the rate limit will reset in epoch timestamp.","schema":{"title":"Rate limit reset","description":"When the rate limit will reset in epoch timestamp.","type":"string"}}},"responses":{"Success":{"description":"Success","headers":{"x-ratelimit-limit":{"$ref":"#/components/headers/x-ratelimit-limit"},"x-ratelimit-remaining":{"$ref":"#/components/headers/x-ratelimit-remaining"},"x-ratelimit-reset":{"$ref":"#/components/headers/x-ratelimit-reset"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/iracingAPIResponse"}}}},"RateLimited":{"description":"Rate limited","headers":{"x-ratelimit-limit":{"$ref":"#/components/headers/x-ratelimit-limit"},"x-ratelimit-remaining":{"$ref":"#/components/headers/x-ratelimit-remaining"},"x-ratelimit-reset":{"$ref":"#/components/headers/x-ratelimit-reset"}},"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"message":{"type":"string"}},"required":["error"],"additionalProperties":false}}}},"Maintenance":{"description":"Maintenance","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"message":{"type":"string"},"note":{"type":"string"}},"required":["error"],"additionalProperties":false}}}},"Unauthorized":{"description":"Access token is missing or invalid.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"message":{"type":"string"}},"required":["error"],"additionalProperties":false}}}}},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"JWT Authentication"},"oAuth2":{"type":"oauth2","description":"OAuth service for obtaining a JWT. For more information, see https://oauth.iracing.com/oauth2/book/introduction.html","flows":{"authorizationCode":{"authorizationUrl":"https://oauth.iracing.com/oauth2/authorize","tokenUrl":"https://oauth.iracing.com/oauth2/token","scopes":{"iracing.auth":"Authorization for iRacing services.","iracing.profile":"Access to the iRacing profile."}}}}}}}